body {
    font-family: "Montserrat", sans-serif;
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #000000;
}

.nav-link {
    color: #000000;
    font-size: 1.5em;
}

.nav-link:hover {
    cursor: pointer;
    color: #000000;
}

#avatar-section {
    padding-top: 4em;
    align-items: center;
}

#name {
    font-weight: 700;
    padding-bottom: 0.25em;
}

.img-container {
    height: 300px;
    width: 300px;
    align-items: center;
}

.avatar {
    max-width: 100%;
    height: auto;
    border-radius: 400px;
}

.intro {
    color: #000000;
}

.break {
    padding-top: 12em;
}

footer {
    color: #000000;
    font-weight: 400;
    text-align: center;
    font-size: small;
}
/* Styles for the Image Gallery */
.card {
    border: none; /* Removes the default border from Bootstrap cards */
}

.card-img-top {
    height: 200px; /* Set a fixed height for images to ensure uniformity */
    object-fit: cover; /* Ensures the image covers the card area without distortion */
}

.card-body {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background for card text */
}

/* Responsive adjustments */
@media (max-width: 992.98px) {
    .card-img-top {
        height: 150px; /* Smaller height for mobile devices */
    }
}