body {
    font-family: "Montserrat", sans-serif;
    background-image: url("Screenshot 2024-10-12 182252.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fbd5d9;
}

.nav-link {
    color: #fbd5d9;
    font-size: 1.5em;
}

.nav-link:hover {
    cursor: pointer;
    color: #f93986;
}

#avatar-section {
    padding-top: 4em;
    align-items: center;
}

#name {
    font-weight: 700;
    padding-bottom: 0.25em;
}

.img-container {
    height: 300px;
    width: 300px;
    align-items: center;
}

.avatar {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
}

.intro {
    color: #ffc1da;
}

.break {
    padding-top: 12em;
}

footer {
    color: #ffc1da;
    font-weight: 400;
    text-align: center;
    font-size: small;
}
